<h1>Available Physicians</h1>
<%= link_to 'Add Physician', new_physician_path %>
<hr />
<h2><%= @physicians.length <= 0 ? "No Physicians" : "" %></h2> 
<ul>
  <% @physicians.each do |physician| %>
    <li>
      <%= link_to physician.name, physician %>
    </li>
  <% end %>
</ul>